/* ./app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configuration des thèmes
  Nous utilisons :root comme thème "Tech" par défaut 
  pour la landing page principale.
*/

:root,
.theme-tech {
  /* Arrière-plans */
  --bg-default: #4c489d;
  --bg-paper: #28254c;

  /* Accents */
  --accent: #ffdc00;

  /* Textes */
  --text-primary: #d0faff;
  --text-secondary: #ffffff;
  --text-button: #4c489d;
}

.theme-explore {
  /* Arrière-plans */
  --bg-default: #d0faff;
  --bg-paper: #77c3cc;

  /* Accents */
  --accent: #c12f62;

  /* Textes */
  --text-primary: #004b9c;
  --text-secondary: #000000;
  --text-button: #d0faff;
}

/* Configuration globale du body
  Assure une transition douce lors des changements de couleur
*/
body {
  background-color: var(--bg-default);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}
