@import "tailwindcss";

.theme-tech {
  --bg-default: #4c489d;
  --bg-paper: #28254c;
  --accent: #ffdc00;
  --text-primary: #d0faff;
  --text-secondary: #ffffff;
  --text-button: #4c489d;
  --font-button: var(--font-tech);
  --font-title: var(--font-tech);
}

.theme-explore {
  --bg-default: #d0faff;
  --bg-paper: #77c3cc;
  --accent: #c12f62;
  --text-primary: #4c489d; /* bleu #004b9c; */
  --text-secondary: #000000;
  --text-button: #d0faff;
  --font-button: var(--font-explore);
  --font-title: var(--font-explore);
}

@theme inline {
  --color-background: var(--bg-default);
  --color-paper: var(--bg-paper);
  --color-primary: var(--text-primary);
  --color-secondary: var(--text-secondary);
  --color-accent: var(--accent);
  --color-button: var(--text-button);
  --font-button: var(--font-button);
  --font-title: var(--font-title);
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: var(--font-inter), sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
